CAPStatus.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="CCAPStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="CCAPCostScacCd">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="RteId" type="xs:string" />
              <xs:element name="CmnCaseId" type="xs:string" />
              <xs:element name="SchdId" type="xs:string" />
              <xs:element name="ScacCd" type="xs:string" />
              <xs:element name="ScacCdDesc" type="xs:string" />
              <xs:element name="TotalCost" type="xs:decimal" />
              <xs:element name="AccessorialCost" type="xs:decimal" />
              <xs:element name="CostCenter" type="xs:unsignedInt" />
              <xs:element name="LstUpdUsr" type="xs:unsignedInt" />
              <xs:element name="LstUpdDtTm" type="xs:string" />
              <xs:element name="PlanPerEndDt" />
              <xs:element name="PlanPerStrtDt" />
              <xs:element name="SrcSys" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>